@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --dark: hsl(303, 10%, 53%);
  --light: hsl(300, 24%, 96%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container {
  max-width: 1350px;
  padding: 1rem;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.left h1 {
  font-size: 4rem;
  max-inline-size: 500px;
  color: var(--magenta);
  margin-bottom: 2rem;
}

.left p {
  color: var(--dark);
  font-weight: 500;
  font-size: 1.5rem;
  max-inline-size: 700px;
  line-height: 1.5;
}

.right .line {
  display: flex;
  background-color: var(--light);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  margin: 1rem;
}

.right .line p {
  color: var(--magenta);
  font-weight: 700;
}

.line-1 {
  position: relative;
  right: 8rem;
}

.line-2 {
  position: relative;
  right: 4rem;
}

.row-2 {
  display: flex;
}

.card {
  background-color: var(--magenta);
  padding: 2rem;
  border-radius: 1rem;
}

.card-2 {
  margin: 0rem 2rem;
  position: relative;
  top: 2rem;
}

.card-3 {
  position: relative;
  top: 4rem;
}

.card h3 {
  color: white;
  margin-bottom: 0.4rem;
}

.card p {
  margin-top: 0.5rem;
  color: white;
  font-size: 0.9rem;
}
