* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container {
  width: 80%;
  padding: 1rem;
}
